.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.5rem;
  z-index: 10;
  background-color: rgba(10, 10, 10, 0.8);
  backdrop-filter: blur(10px);
  border: 2px solid orange;
}

.container {
  max-width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.2s ease;
  position: relative;
}

.link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: var(--color-primary);
  transition: all 0.2s ease;
}

.link:hover:after {
  width: 80%;
  left: 10%;
}

.link:hover {
  color: var(--color-primary);
}

.active {
  color: var(--color-primary);
}

.active:after {
  width: 80%;
  left: 10%;
}

.logo {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  transition: color 0.2s ease;
}

.logo:hover {
  color: var(--color-secondary);
}

.navLinks {
  display: flex;
  gap: 2rem;
  align-items: center;
}